services:
  - type: web
    name: good-duck-web
    env: node
    plan: free
    region: oregon
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: ADMIN_USER
        sync: false
      - key: ADMIN_PASS
        sync: false
      - key: ADMIN_SESSION_SECRET
        sync: false
      - key: DATA_DIR
        value: /data
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_SECURE
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: MAIL_FROM
        sync: false
      - key: MAIL_TO
        sync: false
    # disk:               # Si tu plan permite Disk, descomenta y ajusta
    #   name: data
    #   mountPath: /data
    #   sizeGB: 1